	   <footer>
		
		<div class="container">
		
         <div class="row align-items-center">
          <div class="col-16 col-sm-5 text-center d-block d-sm-none">
            <div class="menu-legales">
              <a href="seguridad.html" style="font-style: normal;">Seguridad</a>
              <a href="politicas.html" style="font-style: normal;border-left: 2px #fff solid;border-right: 2px #fff solid;">Política de privacidad</a>
              <a href="condiciones.html" style="font-style: normal;">Condiciones de Uso</a>
            </div>
          </div>
          <div class="col-12 col-sm-4 redes">
		        <p style="font-style: normal;">Seguinos</p>
            <a href="https://www.facebook.com/agropago/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-facebook-f"></i>
            </a> 
            <a href="https://www.instagram.com/agropago.ar/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/agropago" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/agropago" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
		  
          <div class="col-16 col-sm-5 text-center d-none d-sm-block">
            <div class="menu-legales">
              <a href="seguridad.html" style="font-style: normal;">Seguridad</a>
              <a href="politicas.html" style="font-style: normal;border-left: 2px #fff solid;border-right: 2px #fff solid;">Política de privacidad</a>
              <a href="condiciones.html" style="font-style: normal;">Condiciones de Uso</a>
            </div>
          </div>
		  		  
	      <div class="col-12 col-sm-3 text-right">
  				<a href="http://content.agropago.com.s3.amazonaws.com/CertificadoAgroDigital2021.pdf" target="_blank" rel="noopener noreferrer">
  				<img src="assets/img/PCI-DSS3.png" class="img-fluid fiscal-img float-right; max-width:20%">
  			  
  				<a href="https://www.argentina.gob.ar/aaip/datospersonales/reclama/30716142422--RL-2019-72484922-APN-DNPDP#AAIP" target="_blank" rel="noopener noreferrer">
  				<img src="assets/img/aaip-isologo.png" alt="AAIP RNBD" class="img-fluid float-center fiscal-img;  max-width:20%"> 	

  				<a href="http://qr.afip.gob.ar/?qr=zfFh1LqKUp_Brc6uXvVOeQ,," target="_F960AFIPInfo" rel="noopener noreferrer">
  				<img src="assets/img/datafiscal.png" class="img-fluid fiscal-img float-center; max-width:20%">
  		  </div>
		  
        </div>
      </div>
    </footer>