
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGGF2SB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

 <header>

	<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="row w-100 align-items-center">
            <div class="col-12 col-md-2">
              <a class="navbar-brand" href="/index.html#">
                <img src="assets/img/logo.png" class="img-fluid logo-img">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="col-12 col-md-10">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item item01">
                    <a class="nav-link" href="index.html#ofrecemos">Qué ofrecemos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index.html#beneficios">Beneficios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index.html#hacemos">Cómo lo hacemos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index.html#contacto">Contactanos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="app.html">App</a>
                  </li>
                </ul>
                <div class="text-right access">
                  <a href="registro.html" class="accesos-header">Registrarse</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script type="text/javascript">
      $('.navbar-nav>li>a').on('click', function(){
          $('.navbar-collapse').removeClass('show');
          $('.navbar-collapse').addClass('collapsing');
          $('.navbar-collapse').removeClass('collapsing');
      });
    </script>