/*** CUSTOM STYLES ***/

html {scroll-behavior: smooth;}
form input:focus, form textarea:focus {outline:none;}

header .logo-img {max-width:150px;}
header .navbar-nav {margin-left:auto;}
header .accesos-header {font-family: 'Poppins', sans-serif;color: #fff;border:2px transparent solid;transition:.6s;background: #136850;padding: 5px 25px;border-radius: 15px;display: inline-block;font-size: 13px;margin: 0 5px;}
header .accesos-header:hover {background:#fff;border:2px #136850 solid;color:#136850;transition:.6s;text-decoration:none;}
header .accesos-header-invert {font-family: 'Roboto', sans-serif;color: #136850;border:2px #136850 solid;transition:.6s;background: #fff;padding: 5px 25px;border-radius: 15px;display: inline-block;font-size: 13px;margin: 0 5px;}
header .accesos-header-invert:hover {background:#136850;border:2px transparent solid;color:#fff;transition:.6s;text-decoration:none;}

header {padding-top: 15px;box-shadow: -1px 9px 9px 0px rgb(0 0 0 / 23%);z-index: 9;position: fixed;left: 0;right: 0;background: #fff;top: 0;}
.navbar {padding: 10px 0 30px;}
.navbar-light .navbar-nav {margin:0 auto;}
.navbar-light .navbar-nav .nav-link {color: #000;transition:.6s;font-family: 'Roboto', sans-serif;font-size: 16px;border-right: 2px #000 solid;padding: 0px 10px;line-height: 1;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color:#136850;font-weight:bold;transition:.6s;}
.navbar-light .navbar-nav .nav-item:last-child .nav-link {border:none;}

.section-01 {margin-top: 100px;background:url(../img/fondo_section_01.png);background-size:cover;background-position:center;min-height: 100vh;}
.section-01 h3 {font-family: 'Poppins', sans-serif;color:#fff;font-weight: 800;font-size: 34px;line-height: 1.4;}
.section-01 p {font-family: 'Roboto', sans-serif;color:#fff;font-weight: 300;font-size: 22px;margin:0 0 60px;}
.section-01 .btn-sect {transition:.6s;font-family: 'Roboto', sans-serif;color: #fff;border: 2px #fff solid;display: inline-block;padding: 13px 70px;border-radius: 25px;line-height: 1;font-size: 15px;margin-bottom: 55%;}
.section-01 .btn-sect:hover {background:#fff;color:#136850;transition:.6s;text-decoration:none;}

.section-02 {padding:30px 0;}
.section-02 h4 {font-family: 'Poppins', sans-serif;font-weight: normal;margin:0 0 45px;font-size: 31px;color:#498463;}
.section-02 h3 {font-family: 'Poppins', sans-serif;font-weight: 700;font-size: 23px;color:#498463;margin: 15px 0 0;text-decoration: underline;}
.section-02 p {font-family: 'Roboto', sans-serif;font-size: 18px;margin: 20px 0 0;padding: 0 50px;font-weight: 300;}
.section-02 p strong {font-weight:600}
.section-02 img {max-width: 60px;}


.section-03 {background:url(../img/img_sec-03-11.png);background-size:cover;background-position:bottom center;min-height: 844px;}
.section-03 h3 {font-family: 'Poppins', sans-serif;color:#fff;font-weight: 600;font-size: 34px;line-height: 1.4;}
.section-03 p {font-family: 'Roboto', sans-serif;color:#fff;font-weight: 300;font-size: 20px;margin:0;}
.section-03 hr {margin:5px 0;border-color:#fff;}


.section-04 {padding:0px 0 65px;margin-bottom:-100px;position:relative;z-index:2;}
.section-04 h4 {font-family: 'Poppins', sans-serif;font-weight: 700;font-size: 36px;color:#498463;}
.section-04 p {font-family: 'Roboto', sans-serif;font-size: 27px;margin: 0 0 50px;font-weight: 300;color: #498463;}

.section-05 {background:#E8E8E8;}
.section-05 .container {margin-top:auto;margin-bottom:50px;}
.section-04 .icon-content {background: #136850;display: inline-block;border-radius: 100%;padding: 20px;}
.section-04 .icon-content img {max-width:70px;}
.section-04 h5 {font-family: 'Roboto', sans-serif;margin: 15px 0 0;font-size: 21px;font-weight: 400;color: #136850;}

.section-06 {background:url('../img/fondo_footer_home_v2.png');background-position:center;background-size:cover;min-height:100vh;padding-top:100px;}
.section-06 h3 {color: #fff;font-family: 'Poppins', sans-serif;font-weight: 600;margin:40px ​0 ;font-size: 35px;}

.fiexd-icon {transition:.6s;position: fixed;right: 2%;bottom: 2%;max-width: 40px;z-index: 9;}
.fiexd-icon:hover, .fiexd-icon:focus {transition:.6s;opacity:.6;text-decoration:none;outline:none;}

footer {background: #7ba38d;padding: 20px 0;}
footer p {font-family: 'Roboto', sans-serif;color: #fff;font-size: 14px;margin:0 0px 0 0px;display:inline-block;}
footer .redes a {background: #333333;border-radius: 100%;transition:.6s;width: 35px;height: 35px;display: inline-flex;align-items: center;justify-content: center;font-size: 14px;color: #fff;margin: 0 5px;}
footer .redes a:hover {text-decoration:none;opacity:.6;transition:.6s;}
footer .logo-blanco {max-width: 150px;}
footer .menu-legales {display: inline-flex;width: 100%;text-align: center;margin: 10px 0 0;align-items: center;justify-content: flex-start;}
footer .menu-legales a {font-size: 15px;color: #fff;font-family: 'Roboto', sans-serif;text-decoration: none;padding: 0 10px;display: inline-block;line-height: 1;font-weight: 400;}
footer .fiscal-img {max-width:110px;}

.acceso-sect-01 {margin-top:100px;}
.acceso-sect-01 .content-left {min-height:700px;background: #136850;padding: 0px;text-align: center;display: flex;flex-direction: column;}
.acceso-sect-01 .content-left h4 {text-align: left;display: inline-block;margin: auto auto 0;max-width:450px;color: #fff;font-family: 'Poppins', sans-serif;font-size: 44px;font-weight: bold;}
.acceso-sect-01 .content-left p {color: #fff;font-family: 'Roboto', sans-serif;font-size: 23px;margin: 10px auto 80px;max-width: 450px;font-weight: 400;text-align: left;}
.acceso-sect-01 .content-left img {max-width: 100%;width:100%;}

.acceso-sect-01 .content-right {padding: 65px;margin-bottom:auto;}
.acceso-sect-01 .content-right h3 {margin:15px 0 45px;font-size: 42px;font-family: 'Roboto', sans-serif;font-weight: 700;color: #136850;line-height: 1;}
.acceso-sect-01 form input {max-width:55%;width: 100%;border: none;border-bottom: 1px #000 solid;margin: 0 0 15px;padding: 10px 10px;font-family: 'Roboto', sans-serif;color: #000;}
.acceso-sect-01 form a {color:#136850;transition:.6s;}
.acceso-sect-01 form a:hover {text-decoration:none;opacity:.6;transition:.6s;}
.acceso-sect-01 form .passw-olv {width:100%;text-align:left;font-family: 'Roboto', sans-serif;font-weight: 400;margin: 0px 0 40px;display: inline-block;}
.acceso-sect-01 form input[type="submit"] {background: #fff;border: none;border:2px #136850 solid;transition:.6s;color: #136850;border-radius: 30px;font-size: 15px;padding: 10px 70px;width: auto;}
.acceso-sect-01 form input[type="submit"]:hover {cursor:pointer;background:#136850;border:2px #136850 solid;color:#fff;transition:.6s;}

/* The container */
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px #000 solid;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #136850;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.registro-portada {background: #136850;padding-top: 80px;}
.registro-portada h3 {font-family: 'Poppins', sans-serif;color: #fff;font-weight: 700;font-size: 43px;}
.registro-portada p {font-family: 'Poppins', sans-serif;margin: 0 0 80px;color: #fff;font-size: 22px;font-weight: 400;}

.registro-form {padding:0;margin-top:100px;}
.inputs-display {display: inline-flex;width: 100%;align-items: stretch;justify-content: center;}
.registro-form form input {font-size:14px;font-weight:400;width: 100%;border: none;border-bottom: 1px #000 solid;margin: 0 0 15px;padding: 10px 10px;font-family: 'Roboto', sans-serif;color: #000;}
.registro-form form select {;flex: 1;font-size:14px;font-weight:400;width: auto;border: none;border-bottom: 1px #000 solid;margin: 0 2px 15px;padding: 10px 10px;font-family: 'Roboto', sans-serif;color: #000;}
.registro-form form a {color:#136850;transition:.6s;text-decoration:underline;}
.registro-form form a:hover {text-decoration:none;opacity:.6;transition:.6s;}
.registro-form form .passw-olv {font-family: 'Poppins', sans-serif;font-weight: 400;margin: 20px 0;display: inline-block;}
.registro-form form input[type="submit"] {background: #136850;border: none;border:2px transparent solid;transition:.6s;color: #fff;border-radius: 30px;font-size: 15px;padding: 10px 70px;width:auto;}
.registro-form form input[type="submit"]:hover {cursor:pointer;background:#fff;border:2px #136850 solid;color:#136850;transition:.6s;}
.cust-pd {padding:15px 5px;}
.registro-form form p {margin: 10px 0 0;font-size: 13px;font-family: 'Poppins', sans-serif;color: #333333;font-weight: 400;}

.registro-form .content-right {margin-top:50px;padding: 35px 50px;}

.registro-form .content-left {min-height:700px;background: #136850;padding: 0px;text-align: center;display: flex;flex-direction: column;}
.registro-form .content-left h4 {text-align: left;display: inline-block;margin: auto auto 0;max-width:450px;width:100%;color: #fff;font-family: 'Poppins', sans-serif;font-size: 44px;font-weight: bold;}
.registro-form .content-left p {color: #fff;font-family: 'Roboto', sans-serif;font-size: 23px;margin: 10px auto 50px;max-width: 450px;font-weight: 400;text-align: left;}
.registro-form .content-left img {max-width: 450px;width:100%;margin: 0 auto auto;}

.seguridad-sec-01 {margin-top:100px;margin-bottom:65px;background:url(../img/fondo_header_terminos.png);padding:60px 0 80px;background-size: cover;background-position: bottom;display: flex;align-items: center;}
.seguridad-sec-01 h3 {color: #fff;font-family: 'Poppins', sans-serif;font-size: 41px;font-weight: 700;margin: 0 0 10px;}
.seguridad-sec-01 p {color: #fff;font-family: 'Poppins', sans-serif;font-size: 20px;font-weight: 300;margin: 0 0 0%;}

.seguridad-sec-02 {background:#fff;padding-bottom:50px;background-size: cover;background-position: top;background-repeat: no-repeat;}
.seguridad-sec-02 p {font-family: 'Roboto', sans-serif;color:#1a1a1a;font-size:15px;}
.seguridad-sec-02 img {max-width:255px;}

.politicas-sec-01 {margin-top:100px;background:url(../img/fondo_politicas_v2.png);padding: 75px 0 195px;background-size: cover;background-position: bottom;display: flex;align-items: center;}
.politicas-sec-01 h3 {color: #fff;font-family: 'Poppins', sans-serif;font-size: 41px;font-weight: 700;margin:0px;}

.seguridad-sec-02 h3 {font-family: 'Roboto', sans-serif;font-size: 22px;margin: 35px 0 25px;font-weight: bold;color: #136850;}

.politicas-sec-02 {background:#fff;background-size: cover;background-position: top;background-repeat: no-repeat;padding-bottom: 80px;}
.politicas-sec-02 p {font-family: 'Roboto', sans-serif;color:#1a1a1a;font-size:17px;line-height:1.7;}
.politicas-sec-02 img {max-width:400px;margin-top: -90px;}
.politicas-sec-02 ul li {font-family: 'Roboto', sans-serif;font-size: 19px;}
.politicas-sec-02 ul li p {margin:0;}
.politicas-sec-02 h3 {font-family: 'Roboto', sans-serif;font-size: 22px;margin: 35px 0 25px;font-weight:bold;color:#136850;}

.convenios-sect-01 {margin-top:100px;}

.convenios-sect-01 .box-left-con {min-height:70vh;text-align:center;background:#0a6b4f;padding:80px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.convenios-sect-01 .box-left-con h3 {font-family: 'Poppins', sans-serif;color:#fff;margin:0 0 40px;font-size:35px;font-weight: 700;}
.convenios-sect-01 .box-left-con a {border: 2px #fff solid;display: block;transition:.6s;padding: 10px 30px;min-width: 300px;border-radius: 30px;color: #fff;line-height: normal;font-family: 'Poppins', sans-serif;margin: 10px 0;font-size: 18px;}
.convenios-sect-01 .box-left-con a:hover {background:#fff;color:#0a6b4f;transition:.6s;text-decoration:none;}
.convenios-sect-01 .img-left-conv {max-width: 70%;}

.recuperar-sect-01 {background:#fff;margin-top:100px;}
.recuperar-sect-01 .content-left {background: #fff;margin-top:auto;text-align: center;padding-top:50px !important;}
.recuperar-sect-01 .content-left img {width:100%;}

.recuperar-sect-01 .content-right {padding: 65px;background:#fff;margin-top:50px;margin-bottom:auto;}
.recuperar-sect-01 .content-right h3 {margin: 0 0 5px;font-size: 44px;font-family: 'Poppins', sans-serif;font-weight:700;color: #136850;line-height: 1;}
.recuperar-sect-01 .content-right h3 b {font-weight:500;}
.recuperar-sect-01 form input {max-width:80%;width: 100%;border: none;border-bottom: 1px #000 solid;margin: 0 0 15px;padding: 10px 10px;font-family: 'Roboto', sans-serif;color: #000;}
.recuperar-sect-01 form a {color:#ff6d00;transition:.6s;}
.recuperar-sect-01 form a:hover {text-decoration:none;opacity:.6;transition:.6s;}
.recuperar-sect-01 form .passw-olv {font-family: 'Poppins', sans-serif;font-weight: 400;margin: 20px 0;display: inline-block;}
.recuperar-sect-01 form input[type="submit"] {background: #136850;border: none;border:2px transparent solid;transition:.6s;color: #fff;border-radius: 30px;font-size: 17px;padding: 10px 0;}
.recuperar-sect-01 form input[type="submit"]:hover {cursor:pointer;background:#fff;border:2px #136850 solid;color:#136850;transition:.6s;}
.recuperar-sect-01 a.btn-volver {background: #fff;border: 2px #136850 solid;width: 100%;display: inline-block;padding: 10px 0;text-align: center;border-radius: 30px;font-size: 17px;color: #136850;font-family: 'Poppins', sans-serif;}

.recuperar-sect-01 .content-right p {font-family: 'Roboto', sans-serif;margin: 15px 0 0;font-size: 23px;max-width:450px;font-weight: 400;color: #212121;}

.mg-retro {margin-top: -30%;}

.contacto h3 {color: #136850;font-family: 'Poppins', sans-serif;font-weight: 700;font-size: 31px;margin: 0 0 60px;}
.contacto h4 {color: #136850;font-family: 'Roboto', sans-serif;font-weight: 500;font-size: 24px;margin: 0 0 10px;}
.contacto p {color: #212121;font-family: 'Roboto', sans-serif;font-weight: normal;font-size: 21px;margin:0 0 35px;}
.contacto form {z-index:2;position:relative;text-align:center;background: #fff;display: inline-block;width: 100%;margin: 0;}
.contacto form input, .contacto form textarea {width: 100%;border: none;border-bottom: 1px #000 solid;margin: 0 0 25px;padding: 10px 10px;font-family: 'Poppins', sans-serif;color: #000;}
.contacto form a {color:#ff6d00;transition:.6s;}
.contacto form a:hover {text-decoration:none;opacity:.6;transition:.6s;}
.contacto form .passw-olv {font-family: 'Poppins', sans-serif;font-weight: 400;margin: 20px 0;display: inline-block;}
.contacto form input[type="submit"] {background: #136850;border: none;border:2px transparent solid;transition:.6s;color: #fff;border-radius: 30px;font-size: 15px;padding: 5px 70px;width: auto;margin-right: auto;margin-bottom: 0;margin-top: 25px;}
.contacto form input[type="submit"]:hover {cursor:pointer;background:#fff;border:2px #136850 solid;color:#136850;transition:.6s;}

.box-contacto-img-redes .email-href {color: #136850;font-family: 'Roboto', sans-serif;margin: 30px 0 10px;display: block;font-weight: 400;font-size: 16px;}
.box-contacto-img-redes h5 {color: #212121;font-family: 'Roboto', sans-serif;margin: 0 0 15px;font-size: 21px;}
.box-contacto-img-redes .red-contct {display: inline-block;margin: 0 5px;max-width: 30px;}

.acceso-sect-01 .content-right.custom-app-content-right {padding:90px;}
.acceso-sect-01 .content-right.custom-app-content-right p {font-family: 'Roboto', sans-serif;margin:0 0 5px;font-weight: 400;font-size: 18px;}
.acceso-sect-01 .content-right.custom-app-content-right h3 {font-size: 34px;font-weight: bold;font-family: 'Poppins', sans-serif;margin: 0 0 25px;line-height: 1.2;}
.acceso-sect-01 .content-right.custom-app-content-right ul {padding:0 20px;margin-bottom:40px;}

@media (max-width: 600px) {

  .column-reverse-xs {flex-direction:column-reverse;}

  html, body {overflow-x: hidden;}
  footer .fiscal-img {max-width: 95px;margin-right: 10px;}

  .contacto h3 {margin: 25px 0 10px;}

  #beneficios, #ofrecemos, #hacemos {top: -100px !important}
  .acceso-sect-01 .content-right.custom-app-content-right {padding: 35px 30px 45px;}
  .acceso-sect-01 .content-right.custom-app-content-right h3 {font-size:28px;}
  .content-left.custom-app-content-left h4 {min-width:inherit !important;}
  .content-left.custom-app-content-left p {min-width:inherit !important;}
  .section-02 p {padding:0px;margin: 20px 0 25px;}

  footer {padding:30px 0;}
  .section-01 p {margin-bottom:30px;}
  .section-01 .responsive-header-img {display:none !important;}

  .section-02 h4 {font-size: 25px;margin: 15px 0 35px}

  .contacto h4 {margin: 30px 0 10px;}
  .contacto form h3 {font-size: 25px;}
  .contacto .absolute-left, .contacto .absolute-right {display:none;}
  .registro-form .content-left {min-height: inherit;}
  .acceso-sect-01 .content-left h4 {margin: auto 5% 0;font-size:40px;max-width:100%;}
  .row {margin:0;}
  .navbar-toggler {float:right;}
  .access {display:flex;align-items:center;}
  .navbar-light .navbar-nav .nav-link {padding:10px 0;border-right:none;border-bottom: 2px #000 solid;}
  header .accesos-header {margin:0 5px 0px;flex: 1;padding: 5px 0px;text-align: center;}
  .section-01 {background:#136850;padding:50px 0 0;min-height:inherit;flex-direction:column;}
  .section-01 .btn-sect {width: 100%;text-align: center;margin-bottom: 40px;}
  .navbar-light .navbar-nav {margin: 15px auto 10px;}
  .section-04 h4 {font-size:28px;margin-top: 25px;margin-bottom: 0;}
  .section-04 p {font-size: 23px;margin-bottom: 20px;}

  .section-05 {margin-top:0px;}
  .section-04 h5 {margin:15px 0 25px;font-size:18px;}

  .section-04 .icon-content {padding:15px;margin-right:15px;margin-bottom:15px;}
  .section-04 .icon-content img {max-width:30px;}
  .section-04 {padding:20px 0 0px;margin-bottom:0px;}

  .cust-w-res-foot {max-width: 190px;margin: 25px auto 0;}

  .section-06 img {margin-top:50px;max-width:200px;}
  .section-02 {padding: 30px 0 0;margin-bottom: -15px;}
  .section-06 {background:transparent;flex-direction:column;min-height:inherit;padding-top:30px;text-align:center;}
  .section-06 .container {background:#136850;margin-top: -2px;}
  .section-06 h3 {margin: 15px 0 45px;font-size: 32px;text-align: center;}
  footer .redes {text-align: center;margin-bottom: 20px;}
  footer .menu-legales {margin:0px 0 25px;justify-content:center;}
  footer .text-right {text-align:center !important;}
  footer .menu-legales a {font-size:10px;}
  .section-03 h3 {font-size: 31px;margin: 35px 0 10px;}
  .section-03 p {font-size: 15px;}
  .section-03 {background-position: right;min-height: inherit;background: #136850;}
  .section-03 .responsive-header-img {max-width: 100%;margin-top: 5px;width: 100%;position: relative;right: -10px;}
  .section-05 .icon-content img {max-width:45px;}
  .registro-form .content-left h4 {font-size: 35px;margin: 40px 10% 0;max-width:100%;width:auto;}
  .registro-form .content-left p {font-size: 19px;margin: 10px 10% 50px;}
  .acceso-sect-01 .content-left {padding:60px 20px 20px;min-height: auto;}
  .recuperar-sect-01 form input {max-width:100%;}
  .acceso-sect-01 .content-left p {font-size:17px;max-width:100%;margin: 10px 5% 40px;}
  .acceso-sect-01 .content-right {padding:65px 30px}
  .acceso-sect-01 .content-right h3 {font-size:34px;}
  .container-check {font-size: 14px;}
  .acceso-sect-01 form input[type="submit"] {font-size:17px;}
  .acceso-sect-01 .content-left img {max-width:100%;}
  .recuperar-sect-01 .content-right {padding: 50px 30px;}
  .recuperar-sect-01 .content-right h3 {font-size: 26px;}
  .recuperar-sect-01 .content-right form .row {flex-direction:column-reverse;}

  .seguridad-sec-01 h3, .politicas-sec-01 h3 {font-size:30px;}
  .politicas-sec-01 {margin-bottom:-50px;}

  .registro-form .content-left img {max-width:100%;}

  .seguridad-sec-02 img {max-width: 170px;margin: 0 auto 40px;}
  .politicas-sec-02 img {max-width: 100%;margin: 0 auto;}
  .registro-portada {padding-top:50px;}
  .registro-portada h3 {font-size:29px;}
  .registro-portada p {font-size:19px;}

  .registro-form {padding:0;}
  .registro-form .content-right {padding: 35px 30px;margin-top:0px;}
  .cust-pd {padding:10px 15px;}
  .registro-form form input[type="submit"] {font-size:15px;}

  .contacto form {padding:0px;}

  
}